<% provide(:class_text, 'attendances-application-approval') %>
<% provide(:button_text, '変更を送信する') %>
<div class="modal-dialog modal-lg modal-dialog-center">
<%= form_with(model:@user , url: attendances_update_attendances_application_approval_user_path(@user,@attendances), local: true, method: :patch) do |f| %>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <% if @user.name == "上長1" %>
    <% @users_attendances_application_approval_jyotyo_a.each do |user| %>
      <h1 class="modal-title"><%= user.name %>からの一か月分の勤怠申請</h1>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
           <table class="table table-bordered table-condensed table-hover" id="table-attendances">
            <thead>
                <tr>
                <th>月</th>
                <th>指示者確認印</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
                </tr>
            </thead>
            <tbody>
            <% user.attendances.each do |day| %>
            <%= f.fields_for "attendances[]",day do |attendance| %>
                <% if day.month_attendances_approval_status == "申請中" %>
                <% debugger %>
                        <tr>
                        <%= attendance.hidden_field :ap_month, value: day.month %>
                        <td><%= day.month.delete(user.uid) %>月</td>
                        <td>
                        <%= attendance.label :month_attendances_approval_status, class: "label-#{yield(:class_text)} hidden" %>
                        <%= attendance.select :month_attendances_approval_status,[["なし"],["申請中"],["承認"],["否認"]] ,class: "form-control" %>
                        </td>
                        <td><%= attendance.label :month_attendances_approval_change, class: "check_box inline checkbox-over_time_application", for: "month_attendances_approval_change" do %>
                            <%= attendance.check_box :month_attendances_approval_change, checked: false, id: "month_attendances_approval_change" %>
                        <% end %></td>
                        <td><%= link_to "確認", user_path(user, usernow: @user.id), class: "btn btn-primary" %></td>
                        </tr>
                <% end %>
              <% end %>
            <% end %>
            </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
      <% end %>
      <% end %>

<% if @user.name == "上長2" %>
    <% @users_attendances_application_approval_jyotyo_b.each do |user| %>
      <h1 class="modal-title"><%= user.name %>からの一か月分の勤怠申請</h1>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
           <table class="table table-bordered table-condensed table-hover" id="table-attendances">
            <thead>
                <tr>
                <th>月</th>
                <th>指示者確認印</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
                </tr>
            </thead>
            <tbody>
            <% user.attendances.group(:month).each do |day| %>
            <%= f.fields_for "attendances[]",day do |attendance| %>
                <% if day.month_attendances_approval_status == "申請中" %>
                        <tr>
                        <%= attendance.hidden_field :ap_month, value: day.month %>
                        <td><%= day.month.delete(user.uid) %>月</td>
                        <td>
                        <%= attendance.label :month_attendances_approval_status, class: "label-#{yield(:class_text)} hidden" %>
                        <%= attendance.select :month_attendances_approval_status,[["なし"],["申請中"],["承認"],["否認"]] ,class: "form-control" %>
                        </td>
                        <td><%= attendance.label :month_attendances_approval_change, class: "check_box inline checkbox-over_time_application", for: "month_attendances_approval_change" do %>
                            <%= attendance.check_box :month_attendances_approval_change, checked: false, id: "month_attendances_approval_change" %>
                        <% end %></td>
                        <td><%= link_to "確認", user_path(user, usernow: @user.id), class: "btn btn-primary" %></td>
                        </tr>
                        <% end %>
                        <% end %>
                        <% end %>
            </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
      <% end %>
      <% end %>


      </div>
      <div class="center">
    <%= f.submit "#{yield(:button_text)}", class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>